streamlit
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
faiss-cpu
google-ai-generativelanguage
google-auth
google-auth-httplib2
google-api-core
google-api-python-client
langchain-community
